<!-- Side navigation -->

    <!-- Sidebar-->
    <aside class="col-12 col-md-9 p-0 bg-dark">
        <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
            <div class="collapse navbar-collapse">
                <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                    <li class="nav-item" id="icon">
                        <a class="nav-brand pl-0" href="#"><i class="fab fa-cuttlefish fa-3x pl-2"></i></a>
                    </li>
                    <li class="active">
                        <a class="nav-link" routerLink="/mainpage"><i class="fas fa-home"></i>&nbsp;Home</a>
                    </li>
                    <li class="active">
                        <a class="nav-link" routerLink="/students"><i class="fas fa-user-graduate">&nbsp;Student</i></a>
                    </li>
                    <li class="active">
                        <a class="nav-link" routerLink="/courses"><i class="fas fa-book">&nbsp;Course</i></a>
                    </li>
                    <li class="active" id="AboutPageLink">
                        <a class="nav-link " routerLink="/about"><i class="fas fa-info-circle">&nbsp;About</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>
           
       
 
   
    