/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#background{
    /* background-image: url(./assets/images/curtin1.jpg); */
    background-color: rgb(187, 216, 226);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
